<html>

<head>
    <title>Panumba Numberstation</title>
    <!--meta http-equiv="refresh" content="5"-->
    <script src="/static/main.js"></script>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>

    <h1>panumba.de Numberstation</h1>

    <div id="current">
        <div id="current_number" style="color: rgb{{current.color}}">{{ current.now }}</div>
        <h2 id="current_description">{{ current.description }}</h2>
    </div>

    <h2>Coming Up</h2>
    <ol id="coming_up">
        %for n in coming_up:
        <li>{{ n.description }}: <span style="color: rgb{{n.color}}; background-color: black; padding: 4px 12px;">{{ n.now }}</span></li>
        %end
    </ol>

    <div class="explanation">
        <h2>Displaying your own number</h2>
        <p>
            Request the url <a href="/number">https://panumba.de/number</a> with these query string parameters:
        </p>
        <form action="/number">
        <ul>
            <li><input id="n" type="text" name="n" value="12345678901"/><br>
                <label for="n">n: the number to display. The system can only display integers, but they can be negative. Up to 11
                    digits are available.</label>
            </li>
            <li><input id="d" type="text" name="d" value="all digits"/><br>
                <label for="d">d: description of your number.</label>
            </li>
            <li><input class="input__rgb" id="r" type="text" name="r" value="255"/>
                <input class="input__rgb" id="g" type="text" name="g" value="255"/>
                <input class="input__rgb" id="b" type="text" name="b" value="0"/><br>
                <label for="r">r, g, b: the color your number should be displayed in. Optional; if you leave it off, you will get a
                    random color.</label>
            </li>
            <li><input id="i" type="text" name="i" value="1"/><br>
                <label for="i">i: increment: if your number changes, then give the change per second. The number will be incremented by
                this value per second from the time you submit your number.</label>
            </li>
        </ul>
            <input type="submit" value="show my number" />
        </form>
    </div>
</body>

</html>
