<html>

<head>
    <title>Panumba Numberstation</title>
    <!--meta http-equiv="refresh" content="5"-->
    <script src="/static/main.js"></script>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>

    <h1>panumba.de Numberstation</h1>

    <div id="current">
        <div id="current_number" style="color: rgb{{current.color}}">{{ current.now }}</div>
        <h2 id="current_description">{{ current.description }}</h2>
    </div>

    <h2 class="blinking">Coming Up</h2>
    <ol id="coming_up">
        %for n in coming_up:
        <li>{{ n.description }}: <span style="color: rgb{{n.color}}; background-color: black; padding: 4px 12px;">{{ n.now }}</span></li>
        %end
    </ol>

    <div class="explanation">
        <h2>Display your own number at https://panumba.de</h2>
    </div>
</body>

</html>
