body {
    background-color: black;

    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 2rem;
    color: #0f0;
    font-family: 'Inconsolata', monospace;
    font-size: 1rem;
    text-shadow: 0 0 5px #C8C8C8;
}

#current {
    font: 64px 'Inconsolata', monospace;
    text-align: center;
}

#current_number {
    padding: 8px 12px;
    font: 200% 'Arial Black', Arial, sans-serif;
}

.qr {
    text-align: center;
    float: right;
}
.qr img {
    width: 50%;
}

.blinking {
    color: green;
    font-weight: bold;

    animation: blinkingCursor 1s infinite;
}

@keyframes blinkingCursor {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}
#current_description {
    min-height: 3em;
}

.input__rgb {
    width: 3em;
}
